---
import { Picture } from "astro:assets";
import EcsImg from "../assets/brands/ecs.svg";
import FargateImg from "../assets/brands/fargate1.svg";
import LambdaImg from "../assets/brands/lambda.svg";
import GithubImg from "../assets/brands/github.svg";
import TerraformImg from "../assets/brands/terraform.svg";
import CdkImg from "../assets/brands/cdk.svg";
import CloudWatchImg from "../assets/brands/cloudwatch.svg";
import OpenAIImg from "../assets/brands/openai.svg";
import GroqImg from "../assets/brands/groq.svg";
import SlackImg from "../assets/brands/slack.svg";
---

<div class="pt-14 pb-24 bg-custom-blue border-t border-custom-gray">
  <h2 class="text-center text-custom-light-gray text-2xl mb-8">
    Seamless Integration with Your Favorite Tools
  </h2>
  <div class="grid grid-cols-2 md:grid-cols-5 gap-y-24 md:gap-y-24 justify-items-center mt-6 text-custom-gray px-6 md:px-24 lg:px-40">
  <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={EcsImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-16 h-18 align-top"
      />
      <p class="text-center text-md">ECS</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={FargateImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-16 h-16 align-top"
      />
      <p class="text-center text-md">Fargate</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={LambdaImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-14 h-14 align-top"
      />
      <p class="text-center text-md pt-2">Lambda</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={GithubImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-12 h-12 align-top"
      />
      <p class="text-center text-md pt-4">GitHub</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={TerraformImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-12 h-12 mt-1"
      />
      <p class="text-center text-md pt-3">Terraform</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={CdkImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-16 h-16 align-top"
      />
      <p class="text-center text-md pt">CDK</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={CloudWatchImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-14 h-14 align-top"
      />
      <p class="text-center text-md pt-2">CloudWatch</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={OpenAIImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-12 h-12 align-top"
      />
      <p class="text-center text-md pt-4">OpenAI</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={GroqImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-14 h-14 align-top"
      />
      <p class="text-center text-md pt-2">Groq</p>
    </div>

    <div class="text-custom-gray my-2 h-7 md:h-9">
      <Picture
          src={SlackImg}
          alt="Feature Image"
          formats={["avif", "webp"]}
          loading="lazy"
          class="max-w-14 h-14 align-top"
      />
      <p class="text-center text-md pt-2">Slack</p>
    </div>

  </div>
</div>
